body {
    padding: 0;
    margin: 0;
    background: #c4c4c4;
    overflow-x: hidden;
    overflow-y: hidden
}

@font-face {
    font-family: "NeusaNextPro-Light";
    src: url("/assets/fonts/NeusaNextPro-Light.ttf") format("truetype");
}


#notSupported {
  padding: 1em;
  background-color: darkorange;
  color: white;
  /*margin-top: 1em;*/
  margin-bottom: 1em;
  font-family: "NeusaNextPro-Light";
  color: #373737;
}

#notComputer{
  padding: 1em;
  background-color: palevioletred;
  color: white;
  /*margin-top: 1em;*/
  margin-bottom: 1em;
  font-family: "NeusaNextPro-Light";
  color: #373737;
}


.clockWrapper {
    position: fixed;
    top: 35%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.time {
    display: block;
    text-align: center;
}

.oneliner {
    display: inline;
    /* margin-left: 10px; */
    /* margin-right: 10px; */
    text-align: right;
    position: relative;
    left: 18%;
}

.ss {
    font-family: "NeusaNextPro-Light";
    margin-left: 25px;
    color: #a0a0a0;
}

.hm {
    font-family: "NeusaNextPro-Light";
    font-size: 72px;
    color: #373737;
}

.date {
    font-family: "NeusaNextPro-Light";
    font-size: 22px;
    color: #8493b7;
}

.delay_picker{
    font-family: "NeusaNextPro-Light";
    position: fixed;
    text-align: center;
    top: 45%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    color: #373737;
    cursor: pointer;
}

#delays{
    border: none;
    outline: none;
}

#data_structure{
    font-family: "NeusaNextPro-Light";
    font-size:12px;
    color: #373737;
}

/*-----------*/
/* The switch - the box around the slider */
.switch {
    /*position: relative;*/
    position: fixed;
    top: 45%;
    left: 75%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    /*display: inline-block;*/
    width: 60px;
    height: 28px;
}

/* Hide default HTML checkbox */
.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #8f8f8f;
  -webkit-transition: .6s;
  transition: .6s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 20px;
  width: 20px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 2px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(32px);
  -ms-transform: translateX(32px);
  transform: translateX(32px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 28px;
}

.slider.round:before {
  border-radius: 50%;
}

.tilt_label{
    font-family: "NeusaNextPro-Light";
    font-size:12px;
    color: #373737;
    position: absolute;
    margin-top: 1em;
    margin-left: 2em;
}
/*-----------*/

.buttonGroup {
    position: fixed;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.button {
    background-color: #8f8f8f;
    display: inline-block;
    margin: 10px;
    border-radius: 2.5px;
    width: 50px;
    height: 45px;
    cursor: pointer;
}

.button:hover {
    background-color: #90a7a3;
}

.button:active {
    background-color: #b8b8b8;
}

i {
    position: relative;
    top: 6px;
    color: #242424;
}

.serial i {
    left: 12px;
}

.sync i {
    transform: scale(0.8, 0.8);
    left: 9.25px;
}